/* GENERAL SETUP */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 12pt;
    font-weight: 900;
    color: black;
}
body {
    background-color: whitesmoke;
    width: 100vw;
}
main {
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/* SELECTION */

::selection {
    background-color: white;
    color: peru;
}

/* INPUT */

input {
    border: none;
    padding: 5px;
}
textarea {
    border: none;
    padding-inline-start: 5px;
}

/* UL LIST */

ul {
    list-style: none;
}

/* LINKS */

a {
    text-decoration: none;
    cursor: pointer;
}

/* TEXT & FONTS */

h1 {
    font-size: 3em;
    font-family: "Cookie", cursive;
}
h2 {
    font-size: 2em;
    font-family: "Cookie", cursive;
}
q {
    quotes: "«" "»" "‹" "›";
}
.bolder {
    font-weight: bolder;
}

/* FLEX */
.flex {
    display: flex;
}
.vcenter {
    align-items: center;
}
.jcc {
    justify-content: center;
}
.cc {
    align-items: center;
    justify-content: center;
}
.fcolumn {
    flex-direction: column;
}
.frow {
    flex-direction: row !important;
}

.backdrop {
    position: fixed;
    background-color: rgba(245, 245, 245, 0.95);
    inset: 0;
    padding: 50px;
    z-index: 20;
}
/* FORMS */

.formWrapper {
    text-align: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

/* AUTH FORMS */
.authWrapper {
    text-align: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.authWrapper label {
    max-width: 400px;
    width: 60%;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.authWrapper form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* AVATAR */
.avatarWrapper {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.avatar {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.smallAvatar {
}

.miniAvatarWrapper {
    margin-inline-end: 20px;
}
.miniAvatarWrapper img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

/* BUTTONS */
button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}
.buttonWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
}
.buttonWrapper span {
    align-items: center;
    padding-inline: 5px;
}
.buttonWrapper span i {
    padding-inline-start: 5px;
}

.pictureUploadButton span {
    margin: auto;
    color: white;
}
input[type="file"] {
    display: none;
}
.addrecipe-button {
    width: 50px;
    height: 50px;
    background-color: wheat;
    border-radius: 50%;
}
.edit-button {
}
.submit-button {
}
.logout-btn {
    padding: 0;
}
.closeBackdropButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
    color: black;
    background: none;
    border: none;
    font-size: 26pt;
}

/* NAVIGATION */

.navWrapper {
    z-index: 10;
    position: fixed;
    height: 25px;
    top: 0;
    background-color: whitesmoke;
}

nav {
    width: 100vw;
    padding-inline: 10px;
}
nav-ul {
    width: 100vw;
    flex-direction: row;
}
.nav-ul :last-child {
    margin-inline-start: auto;
}
nav ul li {
    margin-inline: 10px;
    height: 30px;
}
nav ul li:hover {
    border-block-end: 2px solid black;
}

/* LOGO */
.logo {
    max-width: 100vw;
    object-fit: cover;
}

/* HEADER */
header {
    position: relative;
    top: 30px;
    width: 100vw;
}

/* MAIN-CONTENT */
.main-content {
    flex: 1;
    width: 100vw;
    text-align: center;
    background-color: whitesmoke;
}
/* FOOTER */
footer {
    width: 100vw;
    background-color: black;
}
footer div p {
    color: whitesmoke;
}

/* MyProfile & UserProfile */
.profileWrapper {
    position: relative;
    top: -50px;
}

/* COOKBOOKS */

.cookbookWrapper {
    margin-block: 5px;
}

.cookbooksWrapper {
    margin-block: 25px;
}
.cookbooksWrapper ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.coverWrapper {
    width: 150px;
    height: 200px;
    overflow: hidden;
    margin-inline: 10px;
}

.cover {
    background-color: forestgreen;
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.cookbookForm {
    margin-block-start: 50px;
}

/* COAUTHORS */

.coauthorsListWrapper {
}

.coauthorWrapper {
    margin-inline: 10px;
}

.coauthorsListWrapper ul {
}

/* TOOL TIPS */

.tooltip {
    position: relative;
    /* width: 100%; */
    /* height: 100%; */
    /* display: inline-block; */
}

.tooltip .tooltiptext {
    display: none;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    font-size: 0.8rem;
    padding: 5px 10px;
    /* Position the tooltip */
    position: absolute;
    top: 40px;
    z-index: 1;
    white-space: nowrap;
}

.tooltip:hover .tooltiptext {
    display: block;
}
.tooltipBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
}
.tooltipBtn .tooltiptext {
    left: -20px;
    top: 60px;
}

/* CHAPTERLIST & CHAPTER */

.chapterListWrapper {
}
.chapterListWrapper ul {
}

.chapterWrapper {
}
.chapterWrapper ul {
}

/* RECIPEPREVIEWS */

.recipePreviewWrapper {
}
.recipePreview {
    width: 150px;
    height: 200px;
    overflow: hidden;
    margin-inline: 10px;
    object-fit: cover;
}

/* RECIPES */

.recipeStory {
    margin-block: 10px;
}
.recipeMain {
    width: 100vw;
    margin-block-start: 15px;
}

/* GALLERY & GALLERY CONTROLS */
.galleryWrapper {
    min-height: 200px;
}

.galleryControls {
    width: 30px;
    display: flex;
    justify-content: center;
    visibility: visible;
}

.hideControls {
    visibility: hidden;
}
.gallery {
}

/* INGREDIENTS */

.ingredientsWrapper {
    width: 75%;
    margin-inline: auto;
    margin-block-end: 20px;
}
.ingredients {
}
.ingredientslist {
    list-style: none;
    padding-inline-start: 50px;
    padding-block-start: 20px;
    height: 225px;
    overflow-y: scroll;
}
.ingredientslist li {
    display: flex;
    text-align: center;
    align-items: center;
}

/* INSTRUCTIONS */
.instructionsWrapper {
    width: 90%;
    max-width: 700px;
    padding: 20px;
    margin-inline: auto;
    margin-block: 20px;
    background-color: white;
}
.instructions {
    width: 100%;
    column-count: 1;
    column-gap: 35px;
    column-rule-style: solid;
    column-width: 100px;
    column-rule-width: 2px;
    text-align: justify;
    text-justify: inter-word;
}

/* SLIDER */

/* LIGHTBOX */
.lightboxWrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background-color: rgba(209, 209, 209, 0.8);
    z-index: 20;
}
.lightboxImageWrapper {
    width: 90vw;
    height: 100vh;
}
.lightboxImageWrapper img {
    max-height: 60vw;
}

/* INVITATION */

.invitationWrapper {
    margin-block: 50px;
}

.invitationLink {
    margin-block: 20px;
    padding: 10px;
    background-color: white;
}

@media only screen and (min-width: 480px) {
    body {
        /* background-color: cadetblue; */
    }
    .instructions {
        column-count: 2;
    }
}

@media only screen and (min-width: 768px) {
    body {
        /* background-color: pink; */
    }
    header {
        position: relative;
        top: 0;
    }
    .navWrapper {
        position: relative;
        background-color: transparent;
    }
    .profileWrapper {
        top: -75px;
    }
    .instructions {
        column-count: 3;
    }
    .logo {
        max-width: none;
        height: 200px;
        object-fit: cover;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        /* background-color: wheat; */
    }
}
