/* GENERAL SETUP */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    color: black;
}
body {
    background-color: lightcoral;
}
main {
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/* SELECTION */

::selection {
    background-color: black;
    color: green;
}

/* INPUT */

input {
    border: none;
    padding: 5px;
}

/* UL LIST */

ul {
    list-style: none;
}

/* LINKS */

a {
    text-decoration: none;
    cursor: pointer;
}

/* TEXT & FONTS */

.bolder {
    font-weight: bolder;
}
/* FLEX */
.flex {
    display: flex;
}
.vcenter {
    align-items: center;
}
.jcc {
    justify-content: center;
}
.cc {
    align-items: center;
    justify-content: center;
}
.fcolumn {
    flex-direction: column;
}
.frow {
    flex-direction: row;
}

.backdrop {
    position: fixed;
    background-color: paleturquoise;
    inset: 10% 0;
}
/* FORMS */

.formWrapper {
    min-height: 200px;
    border: 1px dashed palevioletred;
}

/* AUTH FORMS */
.authWrapper {
    text-align: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.authWrapper label {
    max-width: 400px;
    width: 60%;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.authWrapper form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* AVATAR */
.avatarWrapper {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.avatar {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.smallAvatar {
    width: 60%;
    height: 60%;
}

.miniAvatarWrapper {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

/* BUTTONS */
button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}
.buttonWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
}
.buttonWrapper span {
    align-items: center;
    padding-inline: 5px;
}
.buttonWrapper span i {
    padding-inline-start: 5px;
}

.pictureUploadButton span {
    margin: auto;
    color: white;
}
input[type="file"] {
    display: none;
}

.edit-button {
}
.submit-button {
}
.closeBackdropButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
    color: black;
    background: none;
    border: none;
    font-size: 26pt;
}

/* NAVIGATION */

.navWrapper {
}

nav {
    width: 100vw;
}
nav ul {
    flex-direction: row;
}
nav ul li {
    margin-inline: 10px;
}

/* LOGO */
.logo {
}

/* HEADER */
header {
    width: 100vw;
    background-color: peru;
}

/* MAIN-CONTENT */
.main-content {
    flex: 1;
    border: 1px solid black;
    width: 100vw;
    text-align: center;
    background-color: khaki;
}
/* FOOTER */
footer {
    width: 100vw;
    background-color: cadetblue;
}

/* MyProfile & UserProfile */
.profileWrapper {
    border: 1px dotted black;
}

/* COOKBOOKS */

.cookbookWrapper {
    border: 1px dotted crimson;
}
.cookbooksWrapper ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.coverWrapper {
    border: 1px solid firebrick;
    width: 150px;
    height: 200px;
    overflow: hidden;
    margin-inline: 10px;
}

.cover {
    background-color: forestgreen;
    width: 100%;
    object-fit: cover;
}

/* COAUTHORS */

.coauthorsListWrapper {
}

.coauthorWrapper {
}

.coauthorsListWrapper ul {
}

/* TOOL TIPS */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    display: none;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    font-size: 0.8rem;
    padding: 5px 10px;
    /* Position the tooltip */
    position: absolute;
    top: 40px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    display: block;
}

/* CHAPTERLIST & CHAPTER */

.chapterListWrapper {
}
.chapterListWrapper ul {
}

.chapterWrapper {
}
.chapterWrapper ul {
}

/* RECIPEPREVIEWS */

.recipePreviewWrapper {
    width: 100px;
    margin: 10px;
}
.recipePreview {
    width: 100%;
}

/* RECIPES */

.recipeStory {
}

/* GALLERY & GALLERY CONTROLS */
.galleryWrapper {
    min-height: 200px;
    min-width: 660px;
}

.galleryControls {
    width: 30px;
    display: flex;
    justify-content: center;
    visibility: visible;
}

.hideControls {
    visibility: hidden;
}
.gallery {
}

/* INGREDIENTS */

.ingredientsWrapper {
}
.ingredients {
}

/* INSTRUCTIONS */
.instructionsWrapper {
}
.instructions {
    width: 80vw;
    column-count: 3;
    column-gap: 15px;
    column-rule-style: solid;
    column-width: 100px;
    column-rule-width: 2px;
    text-align: justify;
    text-justify: inter-word;
}
