/* CHAPTERLIST & CHAPTER */

.chapterListWrapper {
}
.chapterListWrapper ul {
}

.chapterWrapper {
}
.chapterWrapper ul {
}
.chapterHeading {
    text-align: start;
    margin-inline-start: 50px;
    bottom: -20px;
    position: relative;
}
