/* COOKBOOKS */

.cookbookWrapper {
    margin-block: 5px;
}

.cookbooksWrapper {
    margin-block: 25px;
}
.cookbooksWrapper ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.coverWrapper {
    width: 150px;
    height: 200px;
    overflow: hidden;
    margin-inline: 10px;
}

.cover {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.cookbookForm {
    margin-block-start: 50px;
}
