/* GALLERY & GALLERY CONTROLS */
.galleryWrapper {
    min-height: 200px;
}

.galleryControls {
    width: 30px;
    display: flex;
    justify-content: center;
    visibility: visible;
}

.hideControls {
    visibility: hidden;
}
.gallery {
}
