/* GALLERY & GALLERY CONTROLS */
.gallery {
    &__wrapper {
        min-height: 200px;
    }
    &__controls {
        width: 100%;
        display: flex;
        justify-content: center;
        visibility: visible;
    }
}

.hideControls {
    visibility: hidden;
}
