/* RECIPES */

.recipeStory {
    margin-block-end: 20px;
    & q {
        font-size: 1.4rem;
        font-weight: 900;
    }
}


.recipeMain {
    width: 100vw;
}
.recipeDetails {
    padding-block-end: 20px;
}
