// COLORS:

//green
$color-green-light: #8ef8d3;
$color-green: #6fcaaa;
$color-green-dark: #51aeac;

//pink
$color-pink-light: #eea6d1;
$color-pink: #d06fa9;
$color-pink-dark: #ab73b6;

//blue
$color-blue-light: #6baec7;
$color-blue: #5795d0;
$color-blue-dark: #3d7aca;

//red
$color-red-light: #f8a78e;
$color-red: #ff886d;
$color-red-dark: #ff6b4a;

//orange
$color-orange-light: #f8d78e;
$color-orange: #faaa64;
$color-orange-dark: #ff9335;

//yellow
$color-yellow-light: #e6f8a3;
$color-yellow: #f9ce23;
$color-yellow-dark: #ebd86f;

$color-lightgrey: #ccc;
$color-grey: #777;
$color-darkgrey: #545454;

//Black and white
$color-white: #f9fbfa;
$color-black: #063352;

//Primary - mostly for backgrounds, gradients
$color-primary-light: $color-blue-light;
$color-primary-mediumlight: $color-blue;
$color-primary: $color-blue-dark;
$color-primary-dark: #032b66;

//Sub - for pops of colour in clickable & animated elements
$color-sub-light: $color-orange-light;
$color-sub: $color-orange;
$color-sub-dark: $color-orange-dark;

//Text & Headings

$color-text: $color-black;
$color-heading: $color-black;
