/* GENERAL SETUP */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // Definition of 1rem
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: whitesmoke;
    width: 100vw;
    @media only screen and (min-width: 480px) {
        /* background-color: cadetblue; */
    }
    @media only screen and (min-width: 768px) {
        /* background-color: pink; */
    }
    @media only screen and (min-width: 1200px) {
        /* background-color: $color-sub-light; */
    }
}
main {
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
