/* BUTTONS */
button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}
.button {
    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5px;
        border-radius: 3px;
        cursor: pointer;

        & span {
            align-items: center;
            padding-inline: 5px;
            & i {
                padding-inline-start: 5px;
            }
        }
    }
    &__addRecipe {
        width: 50px;
        height: 50px;
        background-color: wheat;
        border-radius: 50%;
    }

    &__submit {
        border: 3px solid transparent;
        border-radius: 5px;
    }

    &__logout {
        padding: 0;
    }
    &__closeBackdrop {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        margin: 10px;
        color: black;
        background: none;
        border: none;
    }
}
